body {
	width: 300px;
	font-family: 'Microsoft Yahei', 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin:0px;
	overflow-x: hidden;
}

.hide{
	display:none;
}
a, a:visited {
	color: black;
}
.section-spacer {
	flex-grow: 1;
}

.left-gutter {
	display: none;
	width: 16px;
	vertical-align: top;
}
.left-gutter input {
	margin-top: 0;
	margin-left: 0;
}

body > DIV {
	padding-bottom: 2px;
}
body > DIV:last-of-type,
body.blocked > DIV {
	border-bottom: none;
}
::-webkit-scrollbar {
	display: none;
}
#installed {
	background-color: #fcfcfc;
	margin-top: 1px;
	margin-bottom: 0;
	padding-top: 0;
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#installed .mdl-list__item {
	padding: 8px;
}
#installed .mdl-list__item-primary-content {
	width: calc(100% - 40px);
}
#installed .mdl-list__item-avatar {
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 25px;
	text-align: center;
}
#installed .style-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(100% - 65px);
	display: inline-block;
}
#installed .style-author {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: calc(100% - 145px);
	display: inline-block;
}
.all-off #installed, #installed.all-off{
	opacity: 0.7;
	pointer-events: none;
}

#zerostyles, #unavailable {
	height: 366px;
}
#sitename{
	height:44px;
	padding-left: 16px;
	padding-right: 30px;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	color: #2c3e50;
	line-height:46px;
	border-bottom: 1px solid #d7d7d7;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	box-sizing: border-box;
}

/* 'New style' links */
#write-style-for {margin-right: .6ex}
.write-style-link {margin-left: .6ex}
.write-style-link::before, .write-style-link::after {font-size: x-small}
.write-style-link::before {content: "\00ad"} /* "soft" hyphen */
#match {overflow-wrap: break-word;}

/* "breadcrumbs" 'new style' links */
.breadcrumbs > .write-style-link {margin-left: 0}
.breadcrumbs:hover a {color: #bbb; text-decoration: none}

/* use just the subdomain name instead of the full domain name */
.breadcrumbs > .write-style-link[subdomain]:not(:nth-last-child(2)) {font-size: 0}
.breadcrumbs > .write-style-link[subdomain]:not(:nth-last-child(2))::before {
	content: attr(subdomain);
}

/* "dot" after each subdomain name */
.breadcrumbs > .write-style-link[subdomain]::after {content: "."}
/* no "dot" after top-level domain */
.breadcrumbs > .write-style-link:nth-last-child(2)::after {content: none}
/* "forward slash" before path ("this URL") */
.breadcrumbs > .write-style-link:last-child::before {content: "\200b/"}
.breadcrumbs > .write-style-link:last-child:first-child::before,
.breadcrumbs > .write-style-link[subdomain=""] + .write-style-link::before {content: none}

/* suppress TLD-only link */
.breadcrumbs > .write-style-link[subdomain=""] {display: none}

/* :hover style */
.breadcrumbs.url\(\) > .write-style-link, /* :hover or :focus on "this URL" sets class="url()" */
.breadcrumbs > .write-style-link:hover,
.breadcrumbs > .write-style-link:focus,
.breadcrumbs > .write-style-link:hover ~ .write-style-link[subdomain],
.breadcrumbs > .write-style-link:focus ~ .write-style-link[subdomain] {
	color: inherit;
	text-decoration: underline;
}
.style-edit-link{display:none;}
.info{
	position:relative;
	padding-bottom: 9px;
}
.clear{clear:both;}

.bottom_controls .manage_styles, .bottom_controls .add_style {
	display:block;
	width: 50%;
	height: 43.6px;
	background-color: #3498db;
	float:right;
	text-align:center;
	color:#ffffff;
	line-height: 42px;
	font-size: 14px;
	text-decoration: none;
}
.bottom_controls .add_style {
	background-color: #95a5a6;
	float: left;
}

#find-styles{
	height: 34px;
	background-color: #ffffff;
	box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.18), 0 -1px 0 0 #cfd6d9;
}
#find-styles-link{
	margin: auto;
	margin-top: 9px;
	width: 100%;
	height: 100%;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #3498db;
	text-decoration: none;
}
#nostyles, #unavailable-message{
	height: 57px;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #2c3e50;
	padding:25px;
	margin-top: 130px;
	margin-bottom: 213px;
}
#unavailable-message{
	display: block;
	margin: 0;
}

.tabs-container .notification{
	position: absolute;
	z-index: 1;
	padding: 10px;
	padding-top: 20px;
	box-sizing: border-box;
	width: 252.7px;
	height: 87px;
	border-radius: 5px;
	background-color: #4990e2;
	box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.46);
	border: solid 1px #3365a6;
	line-height: 16px;
}
.tabs-container .notification:before{
	content: "";
	position: absolute;
	top: -7px;
	width: 15px;
	border: solid 1px #3365a6;
	margin-left: -20px;
	transform: rotate(45deg);
}
.tabs-container .notification:after{
	content: "";
	position: absolute;
	top: 0px;
	width: 50px;
	background-color: #4990e2;
	margin-left: -25px;
}
.tabs-container .notification:before,
.tabs-container .notification:after{
	left: 82%;
	height: 15px;
	background-color: #4990e2;
}
.notification header{
	font-weight: bold;
}
.notification{
	font-size: 12px;
	color: #ffffff;
}
.tabs-container .styles-off-notification{
	left: 9px;
	top: 80px;
}
.tabs-container .styles-off-notification:not(.animated){
	visibility: hidden;
}

#tab-item-installed.zero-installed #disable-all-container,
#tab-item-installed.unavailable #disable-all-container {
	visibility: hidden;
}
#disable-all-container{
	width: 100%;
	background-color: #ecf0f1;
	box-shadow: 0 1px 0 0 #cfd6d9;
	padding: 14px 22px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow: visible;
}

#disable-all-container .disable-all-lable{
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	color: #2c3e50;
}

#disable-all-container .mdl-switch {
	width: auto;
}

/**< zero styles **/
#zerostyles, #unavailable{
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #2c3e50;
	padding:25px;
	position:relative;
	padding-left:23px;
	padding-right:23px;
}

#zerostyles .message,
#unavailable .message {
	margin-top:130px;
}

#chose_style, #create_style {
	position:absolute;
	left:67px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	color: #95a5a6;
	text-align:left;
}
#create_style{
	bottom:37px;
	width:145px;
}
#create_style:before{
	content:"";
	width:36px;
	height:27px;
	background:url(images/down-arrow-33.svg) no-repeat;
	background-size:contain;
	display:block;
	position:absolute;
	left: -34px;
	top: 8px;
}
#getFromUserstyle{
	background-image:url(images/u.png);
	height: 20px;
	width: 20px;
	position: absolute;
	top: 12px;
	right: 10px
}
/** zero styles >**/