@import "../assets/iconfont/iconfont.css";
@import "../style.scss";

body {
	background-color: #EEE;
}

.main-menu>.md-content {
	height: auto !important;
	background-color: #EEE !important;
}

.sort-menu-button {
	margin: 6px 8px;
}
.sort-menu .active .md-list-item-container {
	font-weight: bold;
}

.style-item {
	.md-switch {
		float: right;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	p {
		margin-bottom: 0;
	}

	.md-checkbox {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}