
.page-content .half {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}
.page-content .half .mdl-card {
	width: calc(50% - 10px);
	margin: 5px;
}
.page-content .half .mdl-card__title {
	height: 64px;
}
.page-content .half .mdl-card__supporting-text > * {
	vertical-align: middle;
}
.page-content .half .option {
	margin-bottom: 5px;
}
#save-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 999;
}
.help-button {
	font-size: 22px;
	vertical-align: middle;
	cursor: pointer;
}
.mdl-cell {
	display: inline-block;
}
.style-name-box {
	width: 100%;
}
#options .mdl-textfield {
	padding-bottom: 1px;
}
#options .mdl-textfield__label::after {
	bottom: 0;
}

/* code */
.code {
	height: 10rem;
	width: 40rem;
}
.CodeMirror {
	border: solid #CCC 1px;
	height: 450px;
}
.CodeMirror-lint-mark-warning {
	background: none;
}
.CodeMirror-vscrollbar {
	margin-bottom: 8px; /* make space for resize-grip */
}
.CodeMirror-dialog {
	animation: highlight 3s ease-out;
}
.CodeMirror-focused {
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px;
}
.CodeMirror-search-field {
	width: 10em;
}
.CodeMirror-jump-field {
	width: 5em;
}
.CodeMirror-search-hint {
	color: #888;
}
.codemirror-colorview {
	vertical-align: middle;
}
@keyframes highlight {
	from {
		background-color: #ff9;
	}
	to {
		background-color: none;
	}
}
.resize-grip {
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	content: " ";
	right: 0;
	bottom: 0;
	z-index: 99;
	cursor: n-resize;
	background: linear-gradient(-45deg, transparent 2px, rgba(0,0,0,0.5) 2px, transparent 3px, transparent 4.5px, rgba(0,0,0,0.5) 5px, transparent 5.5px);
}


/* Advanced */
#advanced-box.close .mdl-card__supporting-text,
#advanced-box.close .mdl-card__actions {
	display: none;
}
#advanced-box #toggle-advanced {
	transition: .2s;
}
#advanced-box.close #toggle-advanced {
	transform: rotate(180deg);
}
#advanced .remove-top {
	width: 100%;
}
#advanced .mdl-textfield {
	margin-top: 0;
	margin-bottom: 3px;
	padding-bottom: 3px;
	padding-top: 15px;
}
#advanced .mdl-textfield .mdl-textfield__label::after {
	bottom: 6px;
}
#advanced .color {
	padding-top: 20px;
}
#advanced .color input[type="color"] {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	height: 25px;
	width: 50px;
}
#advanced .color label > * {
	vertical-align: middle;
}
#advanced .CodeMirror {
	height: 150px;
}
#advanced .options .mdl-grid {
	padding-top: 0;
}

/* applies-to */
.applies-to {
	display: flex;
}
.applies-to label {
	flex: auto;
	margin-top: 0.2rem;
	padding-top: 10px;
}
.applies-to ul {
	flex: auto;
	flex-grow: 99;
	margin: 0;
	padding: 0;
}
.applies-to li {
	display: flex;
	list-style-type: none;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.applies-to li > * {
	margin-left: 0.35rem;
}
.applies-to li .applies-value {
	flex-grow: 99;
}
.applies-to li .mdl-textfield {
	padding-top: 1px;
	padding-bottom: 1px;
}
.applies-to li .mdl-textfield__label::after {
	bottom: 7px;
}
/************ help popup ************/
#help-popup {
	top: 3rem;
	right: 3rem;
	max-width: 50vw;
	position: fixed;
	display: none;
	background-color: white;
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	z-index: 99;
}
#help-popup.big {
	max-width: 100%;
	left: 3rem;
}
#help-popup.big .CodeMirror {
	min-height: 2rem;
	height: 70vh;
}
#help-popup .title {
	font-weight: bold;
	background-color: rgba(0,0,0,0.05);
	margin: -0.5rem -0.5rem 0.5rem;
	padding: 0.5rem;
}
#help-popup .contents {
	max-height: calc(100vh - 8rem);
	overflow-y: auto;
}
#help-popup .close-icon {
	cursor: pointer;
	width: 8px;
	height: 8px;
	border: 8px solid transparent;
	position: absolute;
	right: 4px;
	top: 4px;
	background: linear-gradient(-45deg, transparent 5px, black 5px, black 6px, transparent 6.5px) no-repeat, linear-gradient(45deg, transparent 5px, black 5px, black 6px, transparent 6.5px) no-repeat;
}

.keymap-list {
	font-size: 85%;
	line-height: 1.0;
	border-spacing: 0;
	word-break: break-all;
}
.keymap-list input {
	width: 100%;
}
.keymap-list tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.07);
}
.keymap-list td:first-child {
	white-space: nowrap;
	font-family: monospace;
	padding-right: 0.5rem;
}

#help-popup button[name^="import"] {
	line-height: 1.5rem;
	padding: 0 0.5rem;
	margin: 0.5rem 0 0 0.5rem;
	pointer-events: none;
	opacity: 0.5;
	float: right;
}
#help-popup.ready button[name^="import"] {
	pointer-events: all;
	opacity: 1.0;
}

/************ lint ************/
#lint {
	display: none;
	border-top: 1px solid #DDD;
	padding-top: 16px;
	color: #888;
}
#lint .title {
	padding-left: 16px;
	font-size: 16px;
}
#lint .help-button {
	margin-left: 10px;
}
#lint .code-list > div .mdl-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	display: none;
}
#lint .code-list > div.show .mdl-list {
	display: block;
}
#lint .code-list > div .label-title {
	font-size: 15px;
	margin-bottom: 0;
	padding: 8px 16px;
	cursor: pointer;
}
#lint .code-list > div .label-title .material-icons {
	transition: .2s;
	transform: rotate(180deg);
	float: right;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#lint .code-list > div.show .label-title .material-icons {
	transform: rotate(0);
}
#lint li {
	padding-top: 8px;
	padding-bottom: 8px;
	height: 56px;
	cursor: pointer;
}
#lint li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
#lint .mdl-list__item-primary-content {
	width: 100%;
}
#lint .mdl-list__item-sub-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
#lint .severity {
	padding-right: 5px;
}

/************ CSS beautifier ************/
.beautify-options {
	white-space: nowrap;
	font-family: monospace;
}
.beautify-options div {
	float: left;
}
.beautify-options div[newline="true"] + div {
	clear: left;
}
.beautify-options div[newline="true"] + div span[indent] {
	padding-left: 2rem;
}
.beautify-options:after {
	clear: both;
	display: block;
	content: " ";
	height: 1rem;
}
.beautify-options span {
	font-weight: bold;
}
.beautify-options select {
	border: none;
	background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1400px) {
	.page-content .half .mdl-card {
		margin: 10px 5px;
		width: calc(100% - 10px);
	}
}