.mdl-layout__header-row {
	padding-left: 20px;
}
.page-content {
	padding-top: 0;
}
.mdl-tabs__tab-bar {
	margin-bottom: 5px;
	justify-content: flex-start;
	-webkit-flex-direction: flex-start;
}
.mdl-tabs__panel > .mdl-card {
	margin-bottom: 10px;
}
#style-panel .action {
	margin-bottom: 10px;
}
#style-panel #installed {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
}
#style-panel #installed .mdl-card {
	width: calc(50% - 5px);
	margin-bottom: 10px;
}
#style-panel #installed .mdl-card:nth-child(odd) {
	margin-right: 5px;
}
#style-panel #installed .mdl-card:nth-child(even) {
	margin-left: 5px;
}
#style-panel #installed .mdl-card .style-name {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#style-panel #installed .mdl-card .applies-to {
	word-break: break-all;
	max-height: 100px;
	overflow: auto;
}
#style-panel #installed .mdl-card .applies-to code {
	display: inline-block;
	background-color: #F8F8F8;
	border-radius: 2px;
	padding: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.cloud .mdl-radio {
	margin-right: 10px;
}
.cloud .mdl-data-table {
	width: 100%;
	margin-top: 10px;
}
.cloud .mdl-data-table .special {
	display: none;
}
.cloud .mdl-data-table .special td {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.cloud .mdl-button {
	margin-right: 10px;
}

@media screen and (max-width: 1024px) {
	#style-panel #installed .mdl-card:nth-child(odd),
	#style-panel #installed .mdl-card:nth-child(even) {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
.mdl-card__menu .mdl-button {
	color: #555;
}
.cloud .special td {
	border-bottom: 0;
}
.disabled .disable {
	display: none;
}
.enabled .enable {
	display: none;
}
.menu .hidden {
	display: none;
}
.update-switcher.off {
	opacity: .4;
}