body {
	width: 300px;
	font-family: 'Microsoft Yahei', 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin:0px;
	overflow-x: hidden;
}
.hide{
	display:none;
}
a, a:visited {
	color: black;
}
.mdl-button {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.section-spacer {
	flex-grow: 1;
}
.tabs-container > section {
	display: none;
	height: 420px;
	box-sizing: border-box;
}
body.unavailable #unavailable {
	display: block;	
}
body.zerostyles #zerostyles {
	display: block;	
}
body.have-styles #styles {
	display: block;	
}
body.all-off #installed {
	opacity: 0.6;
	pointer-events: none;
}
#zerostyles, #unavailable {
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #2c3e50;
	padding: 200px 25px;
}

#sitename{
	height: 52px;
	padding-left: 12px;
	padding-right: 40px;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	color: #2c3e50;
	line-height: 52px;
	border-bottom: 1px solid #d7d7d7;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	box-sizing: border-box;
}
#searchStyles {
	position: absolute;
	top: 12px;
	right: 10px
}

#tab-item-installed.zero-installed #disable-all-container,
#tab-item-installed.unavailable #disable-all-container {
	visibility: hidden;
}

#disable-all-container{
	width: 100%;
	background-color: rgb(239, 239, 239);
	box-shadow: 0 1px 0 0 #cfd6d9;
	padding: 10px 20px 10px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow: visible;
}
#disable-all-container .disable-all-lable{
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	color: #2c3e50;
}
#disable-all-container .mdl-switch {
	width: auto;
}

#installed {
	background-color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 50px);
}
#installed .mdl-list__item {
	padding: 8px;
}
#installed .mdl-list__item-primary-content {
	width: calc(100% - 50px);
	height: auto;
	line-height: normal;
}
#installed .mdl-list__item-avatar {
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 26px;
	text-align: center;
	margin-right: 10px;
}
#installed .style-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(100% - 70px);
	display: inline-block;
}
#installed .style-author {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: calc(100% - 140px);
	display: inline-block;
}
#installed .mdl-list__item-sub-title > * {
	vertical-align: middle;
}
#installed .mdl-list__item-secondary-action {
	padding-right: 10px;
}

.bottom_controls {
	z-index: 99;
	position: relative;
}

.bottom_controls .manage_styles,
.bottom_controls .add_style {
	display: block;
	width: 50%;
	height: 43.6px;
	text-align:center;
	color:#757575;
	line-height: 42px;
	font-size: 14px;
	text-decoration: none;
	float: left;
	background-color: rgb(238, 238, 238);
	transition: background-color .2s cubic-bezier(.4,0,.2,1);
	border-top: 1px solid rgb(224, 224, 224);
	outline: none;
}
.bottom_controls .manage_styles:hover,
.bottom_controls .add_style:hover {
	background-color: rgb(224, 224, 224);
}
.bottom_controls::after {
	display: table;
	content: "";
	clear: both;
}